# ----------------------
# Environments
# ----------------------
ASI_VENV/
.venv/
venv/

# ----------------------
# Data & artifacts
# ----------------------
data/
*.pt
*.pth
*.npy
*.npz

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Outputs / figures
# ----------------------
*.png
*.pdf

# ----------------------
# Docs (optional)
# ----------------------
*.docx
*.odt

# ----------------------
# OS junk
# ----------------------
.DS_Store
Thumbs.db
